/* Basic Browser Styles with Box sizing, Margin etc */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Thin webkit Scroll styles everywhere for normal hover etc */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(35deg, #17aec4, #ca04ac, #fa9e30);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(55deg, #fa9e30, #ca04ac, #17aec4);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

/* Other */

.gradient-text-primary {
  background: linear-gradient(90deg, #17aec4, #ca04ac, #fa9e30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}