/* Basic Browser Styles with Box sizing, Margin etc */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* NataSans Font Faces */
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans/NataSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Use NataSans as the default font */
body {
  font-family: 'NataSans', Arial, sans-serif;
}

/* Thin webkit Scroll styles everywhere for normal hover etc */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(35deg, #17aec4, #ca04ac, #fa9e30);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(55deg, #fa9e30, #ca04ac, #17aec4);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

/* Other */

.gradient-text-primary {
  background: linear-gradient(90deg, #17aec4, #ca04ac, #fa9e30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Query */

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
